html{
    font-family: Arial, Helvetica, sans-serif;
}

fieldset
{
    background-color: rgba(30, 30, 30, 0.824);
    border:2px solid white;
    border-radius: 4px;
    padding: 1rem;
    
}

html{
    background-color: rgb(0, 0, 0);
}
legend{
    color:aliceblue;
    font-size: x-large;
}

h1{
    color:azure;
}

pre{
    color: blanchedalmond;
    font-size: large;
}

p{
    font-size: x-large;
    color:aliceblue;
}

.inpute
{
    background-color: #000000;
    border-radius: 5px;
    border: 1px double #cccccc;
    color: #eeeeee;
    text-align: left;
    font-size: 17px;
    padding: 14px;
    height: 5;
    width: 700px;
}
.inputbutton
{
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px double #cccccc;
    color: #000000;
    text-align: center;
    font-size: 16px;
    padding: 13px;
    height: 5;
    width: 100px;
}

.centerfield{
    display: center;
    text-align: center;
    padding:40px;	
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
}

.centerh{
    text-align: center;
    font-size: 80px;
}